 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

 *
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
 }
 body
 {
    min-height: 1000px;
 }
 p
 {
    font-weight: 300;
    color:#111;
 }
 .banner 
 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/pexels-jane-doan-892649.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
 .banner .content
 {
    max-width: 900px;
    text-align: center;
 }
 .banner .content h2
 {
    font-size:5em;
    color: #fff;
 }
 .banner .content p 
 {
    font-size: 1em;
    color: #fff;
 }
.btn
 {
    font-size: 1em;
    color:#fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
 }
 .banner .content .btn:hover
 {
    letter-spacing: 5px;

 }
 header
 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

 }
 header.sticky
 {
    background-color: #fff;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
 }
 header .logo
 {
    color:#fff;
    font-weight:700;
    font-size: 2em;
    text-decoration: none;

 }
 header.sticky .logo
 {
    color: #111;
 }
 header .logo span
 {
    color: #ff0157;

 }
 header .nav
 {
    position: relative;
    display: flex;

 }
 header .nav li
 {
    list-style: none;
    margin-left: 30px;
 }
header .nav li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;

}
header.sticky .nav li a
{
    color: #111;

}
header .nav li a:hover
{
    color: #ff0157;
}
section
{
    padding: 100px;
}
@media(max-width:500px)
{
    section
{
    padding: 0;
}
}

.about .row
{
    position: relative;
    width:100%;
    display: flex;
    justify-content:center;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleText
{
    color:#111;
    font-size:2em;
    font-weight: 300;
}
.titleText span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    /* min-width: 300px; */
    height: 300px;
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box
{
    width:340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0  5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;

}
.menu .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text
{
    padding: 15px 0 5px;

}
.menu .content .box .text h3
{
    font-weight: 400;
    color:#111;  
}
/* Start Expert */

.expert .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box
{
    width: 250px;
    margin: 15px;

}
.expert .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;

}

.expert .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text
{
    padding: 15px 0 5px;
}

.expert .content .box .text h3
{
    font-weight: 400;
    color: #111;
    font-size: 16px;

}
/* Start Testimonals */
.testimonals
{
    background-image: url('https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed;

}
.white .titleText,
.white p
{
    color: #000;
}

.testimonals .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;

}
.testimonals .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonals .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonals .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonals .content .box .text
{
    text-align: center;

}
.testimonals .content .box .text p
{
    color: #666;
    font-style: italic;
}

.testimonals .content .box .text h3
{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

/* start Contact */
.contact
{
    margin-top: 100px;
    background-image: url('/images/contact.mediterranean-cuisine-2378758_960_720.jpg');
    background-size: cover;
}
.contact .contactForm
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.01);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;

}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type = "submit"]
{
    font-size: 1em;
    color: #fff;
    background-color: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* Start Footer */
footer
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 50px;
}
footer p
{
    color: #333;
}
footer a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;

}

@media(max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .nav
    {
        display: none;
    }
    header .nav.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;

    }
    header .nav li 
    {
        margin-left: 0;

    }
    header .nav li  a {
        font-size: 1.6em;
        font-weight: 300;
        color: #000;

    }
    .menuToggle
    {
        position: relative;
        width: 60px;
        height: 60px;
        background-image: url('./images/icons8-menu-bar-64.png');
        cursor: pointer;
  
    }
    .menuToggle.active
    {
        
        background-image: url('./images/icons8-close-window-50.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .sticky .menuToggle
    {
        filter: invert(1);
    }
    .banner .content h2 {
        font-size: 3em;
        color: rgb(255, 255, 255);
    }
    .about .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
        margin-bottom: 25px;
    }

}
@media(max-width: 499)
{
    body {
        padding: 0;
    }
}